%h1 Your ingredients

%table.table
  %thead
    %tr
      %th Delete
      %th Name
    %tbody
    - ingredients.each do |ingredient|
      %tr
        %td
          = link_to ingredient, method: :delete, data: { confirm: 'Are you sure?' } do
            .glyphicon.glyphicon-remove-sign
        %td= ingredient.name

%br
= link_to 'Add Ingredient', new_ingredient_path, class: "btn btn-default"

%h1 Your blacklisted ingredients

%table.table
  %thead
    %tr
      %th Delete
      %th Name
    %tbody
    - blacklisted_ingredients.each do |blacklisted|
      %tr
        %td
          = link_to destroy_blacklisted_ingredient_path(blacklisted), method: :delete, data: { confirm: 'Are you sure?' } do
            .glyphicon.glyphicon-remove-sign
        %td= blacklisted.name

%br

= link_to 'Add Blacklisted Ingredient', new_blacklisted_ingredients_path, class: "btn btn-default"

%br
%br
